<a href="#" id="captureSignInLink" onclick="janrain.capture.ui.renderScreen('signIn')"><h4>Sign In / Sign Up</h4></a>
<a href="/edit-profile/?screenToRender=editProfile" id="captureProfileLink" style="display:none"><h4>Edit Profile</h4></a>
<a href="#" id="captureSignOutLink" style="display:none" onclick="janrain.capture.ui.endCaptureSession()"><h4>Sign Out</h4></a>
<script src="/janrain/scripts/janrain-init.js"></script>
<script src="/janrain/scripts/janrain-utils.js"></script>
