    <!--
    ============================================================================
        RESET PASSWORD SCREENS:
        The following screens are part of the password reset user workflow.
        For a complete out-of-the-box password reset experience, these screens
        must be included on the page where you are implementing password reset
        functionality.

        NOTE: The order in which these screens are rendered is as follows:
        resetPasswordRequestCode
        resetPasswordRequestCodeSuccess
        resetPassword
        resetPasswordSuccess
    ============================================================================
    -->

    <!-- resetPassword:
        This screen is rendered when the user clicks the link in provided in the
        password reset email and the code in the link is valid.
    -->
    <div style="display:none;" id="resetPassword">
        <div class="capture_header">
            <h1>Change password</h1>
        </div>
        {* #changePasswordFormNoAuth *}
            {* newPassword *}
            {* newPasswordConfirm *}
            <div class="capture_footer">
                <input value="Submit" type="submit" class="capture_btn capture_primary">
            </div>
        {* /changePasswordFormNoAuth *}
    </div>
    <!-- resetPasswordSuccess:
        This screen is rendered when the user successfully changes their
        password from the resetPassword screen.
    -->
    <div style="display:none;" id="resetPasswordSuccess">
        <div class="capture_header">
            <h1>Your password has been changed</h1>
        </div>
        <p>Password has been successfully updated.</p>
        <div class="capture_footer">
            <a href="/" class="capture_btn capture_primary">Sign in</a>
        </div>
    </div>
    <!-- resetPasswordRequestCode:
        This is the landing screen for the password reset workflow. When the
        user clicks the link provided in the reset password email, a code is
        supplied and is passed to Capture for verification. If the code is valid
        the resetPassword screen is rendered immediately and the content of
        this screen is not presented. If the code is not accepted for any reason
        this screen is then presented, allowing the user to re-enter their
        email address.
    -->
    <div style="display:none;" id="resetPasswordRequestCode">
        <div class="capture_header">
            <h1>Create a new password</h1>
        </div>
        <p>We didn't recognize that password reset code. Enter your email address to get a new one.</p>
        {* #resetPasswordForm *}
            {* signInEmailAddress *}
            <div class="capture_footer">
                <input value="Send" type="submit" class="capture_btn capture_primary">
            </div>
        {* /resetPasswordForm *}
    </div>

    <!-- resetPasswordRequestCodeSuccess:
        This screen is rendered if the user submitted an email address on the
        resetPasswordRequestCode screen.
    -->
    <div style="display:none;" id="resetPasswordRequestCodeSuccess">
        <div class="capture_header">
            <h1>Create a new password</h1>
        </div>
            <p>We've sent an email with instructions to create a new password. Your existing password has not been changed.</p>
        <div class="capture_footer">
            <a href="/" onclick="janrain.capture.ui.modal.close()" class="capture_btn capture_primary">Close</a>
        </div>
    </div>
    <script src="/janrain/scripts/janrain-init.js"></script>
    <script src="/janrain/scripts/janrain-utils.js"></script>
