<div class="thumbnail col-md-12 col-sm-12">
    <img src="/images/NYEdu.JPG" width="100%" class="img-responsive" alt="NYC Dept"/>
</div>
<div class="thumbnail col-md-12 col-sm-12">
    <img src="/images/belvedere.jpg" width="100%" class="img-responsive" alt="Vodka"/>
</div>
