<div id="article-comments"
  class="active article-comments"
  data-source-name="Veritas News"
  data-source-uri="www.veritasnews.com"
  data-appid="veritasnewscorp-demo"
  data-appkey="dev.veritas"
  data-busname="veritasnews-bus"
  data-url="http://products-23.arktan.com/sitecomments/show?streamId=id_http_cetesting1etzhbybaix_devcloud_acquia_sites_com_world_news"
  data-domain="http://www.veritasnewscorp.com"
  data-enable-capture="true"
  data-flagging-type="default"
  data-entity-type="user">
</div>

