{{!< default}}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-sm-8">
			{{>mainTeaserCol}}
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="row">
				{{>articleTeaserCol}}
			</div>
			<div class="row">
					{{>mainAds}}
			</div>
			<div class="row">
					{{>smallTeaserCol}}
			</div>

		</div>
	</div>
</div>
